body
{
font-size:75%;
font-family:verdana,arial,'sans serif';
color:#000080;
margin:70px;
background-color:#B0C4DE;
}

h1 {font-size:200%;}
h2 {font-size:140%;}
h3 {font-size:110%;}
h4 {font-size:100%; color:rgb(0,0,255); }
ul {list-style:circle;}
ol {list-style:upper-roman;}


